<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style-tickets.css" />
    <title></title>
  </head>
  <body>
    <!-- Navbar -->
    <nav id="navbar">
      <div class="logo">
        <img src="/images/train.png" alt="Train logo" />
        <h1>Ticketac</h1>
      </div>
      <ul>
        <% if(user == null) { console.log(user); %>
        <li><a href="/users/sign-in">Connection</a></li>
        <li><a href="/users/sign-up">Sign up</a></li>
        <% } else { %>
        <li><a href="/users/last-trips">My last trips</a></li>
        <li>
          <a href="#"
            ><i class="fas fa-user"></i> Hello <%= user.firstName %></a
          >
        </li>
        <li>
          <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
        </li>
        <% } %>
      </ul>
    </nav>
    <div class="container">
      <div class="tickets">
        <% const options = { day: "numeric",month: "numeric" }; const date = new
        Date(ticketList[0].date); const dateTrip = new
        Intl.DateTimeFormat("fr-FR", options).format(date); %>
        <h3 class="mb-1">Tickets available on <%=dateTrip%></h3>
        <% for (var i = 0; i < ticketList.length; i++) { %>
        <div class="ticket p-1 mb-1">
          <p class="ticket-city">
            <%=ticketList[i].departure%> / <%=ticketList[i].arrival%>
          </p>
          <p class="ticket-hour">
            train departure at : <%=ticketList[i].departureTime%> pm
          </p>
          <p class="ticket-price"><%=ticketList[i].price%> €</p>
          <a href="/users/" class="btn btn-primary">Ok</a>
        </div>
        <%}%>
      </div>
    </div>
  </body>
</html>
